
<ion-content [fullscreen]="true">
  <div class="selection">
    <h2>Joueurs : {{rangeVal}}</h2>
    <ion-range [(ngModel)]="rangeVal" (ionKnobMoveEnd)="onIonKnobMoveEnd($event)" min="0" max="20" pin="true"></ion-range> 
  </div>
  
  <div class="joueurs">
    <div class="civils">
      <p>{{rangeVal1}} Civils</p>
    </div>
    <div class="tripler">
      <div class="moins">
        <ion-icon name="remove-circle-outline"></ion-icon>
      </div>
      <div class="text">
        <p>{{reste}} Undercovers</p>
      </div>
      <div class="plus">
        <ion-icon name="add-circle-outline"></ion-icon>
      </div>
    </div><div class="tripler">
      <div class="moins">
        <ion-icon name="remove-circle-outline"></ion-icon>
      </div>
    <div class="civil">
      <p>{{rangeVal2}}Mr.white</p>
    </div>
      <div class="plus">
        <ion-icon name="add-circle-outline"></ion-icon>
      </div>
    </div>
  </div>
  <div class="civil2">
    <p>Ajouter des roles speciaux</p>
  </div>
  <div class="commencer">
    <p [routerLink]="['/choix-carte']">commencer</p>
  </div>
</ion-content>
