.panier {
    color: #4977A1;
}
.parametre{
    color: #2CD08B;
}
.lettre{
    color: #EBBE95;
}
.trophe{
    color: #DBDE22;
}
.coffre{
    color: #89420F;
}
ion-tab-bar{
    --background: #143005;
}