
<ion-content [fullscreen]="true" class="page">
  <p class="miss">Missions</p>
  <div class="content">
    <div class="img_text">
      <div>
        <img src="\assets\images\Rectangle.png" alt="">
      </div>
      <div>
        <p>Regarde la video des regles</p>
        <a href="">Recois 10 mots gratuits !</a>
      </div>
    </div>
    <div class="img_text">
      <div>
        <img src="\assets\images\Vector.png" alt="">
      </div>
      <div>
        <p>joue 3 parties en ligne (0/3)</p>
        <a href="">Recois 10 mots gratuits !</a>
      </div>
    </div>
    <div class="img_text">
      <div>
        <img src="\assets\images\Vectorcoeur.png" alt="">
      </div>
      <div>
        <p>joue une partie avec les <br> "amoureux"</p>
        <a href="">Recois 10 mots gratuits !</a>
      </div>
    </div>
    <div></div>
  </div>
</ion-content>
