ion-content{
  --background: #0F180E;
}
p{
  color:white;
}
h1{
  color: white;
}
ion-item{
  color: red;
}
.profil{
  display: flex;
  background: #143005;
  color: white;
}
.logo{
  height:80px;
  width: 80px;
  border-radius: 100%;
}
.photo{
  margin: 4px 20px;
}