<ion-content>
  <!-- <h1>{{randomNumberCeil1}}</h1> -->
  <!-- <h1>{{number}}</h1>
  <h1>{{number1}}</h1>
  <h1>le civil : <br> votre mot secret est: <br> {{ GameData }}</h1>
  <h1>l'undercover : <br> votre mot secret est: <br> {{ GameData2 }}</h1>
  <h1><b>Aujourd'hui</b></h1> -->
  <h1>l'undercover : <br> votre mot secret est: <br> {{ GameData4 }}</h1>

  <h1>{{ currentDate }}</h1>
  
  <h1>le civil : <br> votre mot secret est: <br> {{ GameData5 }}</h1>

  <ion-list>
    <div class="profil">
      <div class="photo">
        <img src="..\assets\images\Vectorbon.png" alt="" class="logo">
      </div>
      <div class="text">
        <h3><b>Surnom</b></h3>
        <p>partie jouer: </p>
      </div>
    </div>
  </ion-list>
</ion-content>